body,
html,
main,
footer {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif; }

a {
  text-decoration: none;
  color: white; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

nav {
  background-color: #d35649;
  margin: 0;
  padding: 0; }

.logo {
  font-family: "Brush Script MT, Brush Script Std", cursive;
  font-size: 2rem;
  color: white;
  width: 13rem;
  margin: 0 auto 1rem auto; }

.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center; }

.menu-list-item a {
  color: white; }

.menu-list-item {
  margin: 0 2rem 1.5rem 2rem; }

.nav-describers {
  display: none; }

.top-searching-section {
  background: url(../assets/images/1.jpg) no-repeat center fixed;
  background-size: cover;
  padding: 30% 0.5rem 30% 0.5rem;
  margin: 0 auto; }

.search-heading {
  color: white;
  text-align: center;
  font-weight: 700; }

.search-section {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  border-radius: 5%; }

.search-section-header {
  margin: 0.7rem 0 0 0;
  font-weight: 600; }

.form-btn {
  background-color: #d35649;
  color: white;
  margin: 0.7rem 0 1rem 0;
  width: 100%; }

.how-btn {
  background-color: rgba(209, 205, 205, 0.8);
  display: block;
  font-weight: 600;
  width: 10rem;
  margin: 3rem auto; }

.about-section {
  margin: 0 auto;
  background-color: white;
  padding: 1rem; }

.about-sec-article {
  text-align: center;
  margin-bottom: 2rem; }

.about-section-heading {
  color: #d35649;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center; }

.about-sec-article i {
  color: #6bbbd6; }

.details-section {
  color: white;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1rem; }

.ds-article-img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  margin: 2rem auto; }

.ds-article {
  margin: 0;
  padding: 2rem; }

#ds-art-1 {
  background-color: #d35649; }

#ds-art-2 {
  background-color: #98A4A5; }

#ds-art-3 {
  background-color: #509BD7; }

.ds-article .how-btn {
  margin: 0 auto; }

footer {
  font-size: 0.8rem; }

.top-part {
  background-color: black;
  color: white;
  padding: 2rem; }

.top-part-ul {
  margin: 0 auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 1rem 0; }

.top-part-ul h1 {
  height: 6rem;
  width: 6rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 1.8rem; }

.footer-contact-section,
.footer-about-section,
.bottom-part {
  text-align: center; }

.social-div {
  margin-bottom: 0.5rem; }

.social-div i {
  color: gray;
  margin-right: 1rem; }

.bottom-part {
  padding: 2rem;
  background-color: #1f1f1f;
  color: gray; }

.top-part section a {
  color: #d35649; }

#tf-2 {
  width: 15rem;
  height: 3rem; }

.input-group {
  padding: 1rem 0; }

.top-part .form-btn {
  background-color: gray;
  width: 7rem;
  height: 3rem;
  margin: 0;
  border: none; }

.results h2 {
  margin: 2rem auto 0rem auto;
  text-align: center; }

.result-section-form {
  background-color: #eee;
  margin: 1rem;
  padding: 3rem; }

.btn-div {
  margin: 1rem auto;
  text-align: center; }

.dropdown-toggle {
  width: 100%;
  background-color: white;
  text-align: right; }

.results-article {
  margin: 1rem auto 1rem auto;
  width: 90%;
  height: 26rem; }

.results-article h3 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 20rem;
  position: relative;
  top: 50%;
  margin: 0 auto;
  padding: 1rem;
  color: #d35649; }

.results-article a {
  color: #509BD7; }

#ra-1 {
  background: url(../assets/images/javabegg.jpg) no-repeat center;
  background-size: cover; }

#ra-2 {
  background: url(../assets/images/pythonbeg.png) no-repeat;
  background-size: cover; }

#ra-3 {
  background: url(../assets/images/rubybeg.png) no-repeat;
  background-size: cover; }

#ra-4 {
  background: url(../assets/images/javascriptbeg.jpg) no-repeat;
  background-size: cover; }

#ra-5 {
  background: url(../assets/images/webbeg.jpg) no-repeat center;
  background-size: cover; }

#ra-6 {
  background: url(../assets/images/rubyonrailsbeg.jpg) no-repeat;
  background-size: cover; }

/*# sourceMappingURL=styles.css.map */
