body,
html,
main,
footer {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
button:hover,
.mli-link:hover {
  color: #509bd7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #d35649;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: "Brush Script MT, Brush Script Std", cursive;
  font-size: 1.8rem;
  color: white;
  width: 17rem;
  margin: 0 auto 1rem auto;
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.menu-list-item a {
  color: white;
}

.menu-list-item {
  margin: 0 2rem 1.5rem 2rem;
}

.nav-describers {
  display: none;
}

.top-searching-section {
  background: url(../assets/images/1.jpg) no-repeat center fixed;
  background-size: cover;
  padding: 30% 0.5rem 30% 0.5rem;
  margin: 0 auto;
}

.search-heading {
  color: white;
  text-align: center;
  font-weight: 700;
}

.search-section {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  border-radius: 5%;
}

.search-section-header {
  margin: 0.7rem 0 0 0;
  font-weight: 600;
}

.form-btn {
  background-color: #d35649;
  color: white;
  margin: 0.7rem 0 1rem 0;
  width: 100%;
}

.how-btn {
  background-color: rgba(209, 205, 205, 0.8);
  display: block;
  font-weight: 600;
  width: 10rem;
  margin: 3rem auto;
}

.about-section {
  margin: 0 auto;
  background-color: white;
  padding: 1rem;
}

.about-sec-article {
  text-align: center;
  margin-bottom: 2rem;
}

.about-section-heading {
  color: #d35649;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.about-sec-article i {
  color: #6bbbd6;
}

.details-section {
  color: white;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1rem;
}

.ds-article-img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  margin: 2rem auto;
}

.ds-article {
  margin: 0;
  padding: 2rem;
}

#ds-art-1 {
  background-color: #d35649;
}

#ds-art-2 {
  background-color: #98a4a5;
}

#ds-art-3 {
  background-color: #509bd7;
}

.ds-article .how-btn {
  margin: 0 auto;
}

footer {
  font-size: 0.8rem;
}

.top-part-wrap {
  background-color: black;
}

.top-part {
  color: white;
  padding: 2rem;
}

.top-part-ul {
  margin: 0 auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 1rem 0;
}

.top-part-ul h1 {
  height: 6rem;
  width: 6rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 1.8rem;
}

.footer-contact-section,
.footer-about-section,
.bottom-part {
  text-align: center;
}

.social-div {
  margin-bottom: 0.5rem;
}

.social-div i {
  color: gray;
  margin-right: 1rem;
}

.bottom-part-wrap {
  background-color: #1f1f1f;
}

.bottom-part {
  padding: 2rem;
  background-color: #1f1f1f;
  color: gray;
}

#tf-2 {
  width: 15rem;
  height: 3rem;
  background-color: black;
}

.input-group {
  padding: 1rem 0;
}

.top-part .form-btn {
  background-color: gray;
  width: 7rem;
  height: 3rem;
  margin: 0;
  border: none;
}

.results h2 {
  margin: 2rem auto 0 auto;
  text-align: center;
}

.result-section-form {
  background-color: #eee;
  margin: 1rem;
  padding: 3rem;
}

.btn-div {
  margin: 1rem auto;
  text-align: center;
}

.dropdown-toggle {
  width: 100%;
  background-color: white;
  text-align: right;
}

.results-article {
  margin: 1rem auto 1rem auto;
  width: 90%;
  height: 26rem;
}

.results-article h3 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 20rem;
  position: relative;
  top: 50%;
  margin: 0 auto;
  padding: 1rem;
  color: #d35649;
}

.results-article a {
  color: #509bd7;
}

#ra-1 {
  background: url(../assets/images/javabegg.jpg) no-repeat center;
  background-size: cover;
}

#ra-2 {
  background: url(../assets/images/pythonbeg.png) no-repeat;
  background-size: cover;
}

#ra-3 {
  background: url(../assets/images/rubybeg.png) no-repeat;
  background-size: cover;
}

#ra-4 {
  background: url(../assets/images/javascriptbeg.jpg) no-repeat;
  background-size: cover;
}

#ra-5 {
  background: url(../assets/images/webbeg.jpg) no-repeat center;
  background-size: cover;
}

#ra-6 {
  background: url(../assets/images/rubyonrailsbeg.jpg) no-repeat;
  background-size: cover;
}

.selection-result-article {
  margin: 4rem auto 2rem auto;
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 2rem 2rem 1rem 2rem;
  background-color: white;
  max-width: 1200px;
}

.selection-details-section {
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

.selection-details-section span {
  color: #1c76b3;
}

.ds-description {
  line-height: 30px;
  width: 95%;
  margin: 0 auto 1rem auto;
  font-weight: 700;
  max-width: 1200px;
}

.more-div {
  background-color: #dfe2e3;
  margin: 0 auto 3rem auto;
  width: 95%;
  text-align: center;
  padding: 1.2rem;
  max-width: 1200px;
}

.more-div a {
  color: black;
  letter-spacing: 0.7rem;
}

.location-div {
  margin: 0 auto 3rem auto;
  width: 95%;
  text-align: center;
  max-width: 1200px;
}

.location-div iframe {
  width: 100%;
  height: 480px;
}
